/*--- A001 ---*/
.A001_Cover {
    width: 360px;
    height: 480px;
    background-color: brown;
    margin:auto;
    border-left: 30px solid #000;
    border-radius: 0 20px 20px 0;
}
.A001_CoverTitle {
    width: 280px;
    height: 48px;
    border-radius: 5px;
    background-color: white;
}

/*--- End of A001 ---*/

/*--- A002 ---*/
.A002_Cover {
    width: 360px;
    height: 480px;
    background-color: yellowgreen;
    margin:auto;
    border-left: 30px solid #000;
    border-radius: 0 20px 20px 0;
}
.A002_CoverTitle {
    width: 280px;
    height: 48px;
    border-radius: 5px;
    background-color: white;
}
/*--- End of A002 ---*/